<nav>
  <div class="nav-wrapper light-blue darken-4">
    <a routerLink="/home" class="brand-logo right">Inmobiliaria Hogar Colombia</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li *ngIf="!userLogged"><a routerLink="/user/login" routerLinkActive="active">Ingresar</a>
      <li *ngIf="userLogged"><a routerLink="/user/logout" routerLinkActive="active">Cerrar Sesión</a>
      <li><a routerLink="/home">Sass</a></li>
      <li><a routerLink="/home">Components</a></li>
    </ul>
  </div>
  <div *ngIf="userLogged">
    <h6><strong>En sesión: {{userName}}</strong></h6>
  </div>
</nav>